annotated-types
anyio
click
exceptiongroup
fastapi
h11
httptools
idna
motor
pydantic
pydantic-settings
pydantic_core
python-decouple
sniffio
starlette
typing_extensions
uvicorn
uvloop
watchfiles
websockets
